<!-- the search form from 'cheatsheet' (there is more interesting stuff there) -->
<!-- Carousel Template has the same form too -->
<!-- changed btn-outline-dark to btn-outline-primary -->
<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary" type="submit">Search</button>
</form>
<!-- life search -->

<!-- Searching with datalist -->
<!--          <label for="exampleDataList" class="form-label">Пример списка данных</label>-->
<!--          <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Введите для поиска...">-->
<!--          <datalist id="datalistOptions">-->
<!--            <option value="Москва">-->
<!--            <option value="Санкт-Петербург">-->
<!--            <option value="Брянск">-->
<!--            <option value="Екатеринбург">-->
<!--            <option value="Волгоград">-->
<!--          </datalist>-->
